$move: 200px;

.wrapper {
  transform: translateX(0);
  backface-visibility: hidden;
  transition: transform 0.3s;
  text-align: center;
}

header {
  background: url('../images/header.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 6em 1em;

  h1 {
    font-size: font-size(1);
    font-weight: 700;
    letter-spacing: 0.2em;
  }

  h2 {
    font-size: font-size(-1);
    letter-spacing: 0.2em;
    color: rgba(255,255,255,0.5);
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: $move;
  height: 100%;
  background: $black;
  transform: translateX(-$move);
  backface-visibility: hidden;
  transition: transform 0.3s;

  ul {
    margin-top: font-size(3);
  }

  a {
    display: block;
    width: 90%;
    border-bottom: 1px solid rgba(255,255,255, 0.05);
    font-weight: 300;
    padding: 0.5em 2em;
    margin: 0 auto;
    font-size: font-size(-1);
    letter-spacing: 0.12em;

  }
}

section {
  position: relative;
  padding: font-size(3) 1em font-size(5);

  h1, h2, h3, p {
    margin-top: 0;
  }
}

.introduction {
  padding-left: 2.2em;
  padding-right: 2.2em;
  background: url('../images/overlay.png') repeat, $red;

  p {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: font-size(2);
  }

  strong, em, a {
    color: rgba(255, 255, 255, 1);
  }

  h2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: font-size(1);
    font-weight: 700;
    padding: 1em;
    letter-spacing: 0.05em;
    margin-bottom: font-size(2);
  }

}

.details {
  background: $white;
  color: $black;

  h2 {
    font-size: font-size(1);
    font-weight: 700;
    margin: font-size(1) 0 font-size(0);
  }

  p {
    color: rgba($black, 0.6);
  }

  strong, em{
    color: rgba($black, 1);
  }

  h3 {
    color: $red;
    margin-bottom: font-size(1);
    font-weight: 700;
  }

  img {
    width: 100%;
    margin-bottom: font-size(2);
  }
}

.endorsements {
  background: url('../images/overlay.png') repeat, $light-gray;
  color: rgba(0,0,0,0.6);
  padding-bottom: font-size(4);

  h3 > a {
    color: $red;
    text-decoration: none;
  }

  img {
    width: 100%;
    display: block;
  }

  .endorsement {
    margin: 0 0 font-size(2) 0;

    h3 {
      font-size: font-size(1);
      font-weight: 700;
      margin: font-size(1) 0;
    }

    p {
      margin-bottom: font-size(2);
    }
  }

  .endorsement > a:not(.btn) {
    border: 10px solid $white;
    display: block;
    margin-bottom: font-size(2);
  }
}

.rest {
  background: url('../images/overlay.png') repeat, $black2;
  padding-bottom: font-size(2);

  form {
    margin-bottom: font-size(3);
    input:not([type="submit"]), textarea {
      max-width: 30em;
      display: block;
      margin: 0.5em auto;
      width: 100%;
      padding: font-size(-1);
      border-radius: 10px;
      border: 0;
      outline: 0;
      background: $gray;
      -webkit-appearance: none;
      transition: background 0.3s;
    }

    input:not([type="submit"]):focus,
    textarea:focus {
      background: $white;
      transition: background 0.3s;
    }

    input[type="submit"] {
      margin-top: 2em;
    }
  }

  h2 {
    font-size: font-size(1);
    font-weight: 700;
    margin-bottom: font-size(1);
  }

  p {
    margin-bottom: font-size(2);
    color: rgba(255, 255, 255, 0.6);
  }

  .tile {

    border-top: 1px solid rgba(255,255,255,0.1);

    h3 {
      color: $red;
      font-size: font-size(0);
      font-weight: 700;
      margin-bottom: 1em;
    }
    a {
      display: block;
    }
  }
}

.navbar-open {
  .wrapper {
    transform: translateX($move);
    transition: transform 0.3s;
  }

  nav {
    transform: translateX(0);
    transition: transform 0.3s;
  }

  .hamburger {
    transform: translateX($move);
    transition: transform 0.3s;
  }
}